<section id="markdown" class="wrapper">
  <%= drop.content %>
</section>

<script>
  var md = $('#markdown'), els = md.children()
  if (els.size() <= 2 && els.is('blockquote')) {
    md.addClass('quote')
    if ($(window).width() >= 800) els.wrapAll('<div>')
  }
</script>
